gsplat==1.3.0
ultralytics
git+https://github.com/JojiJoseph/pycolmap-scene-manager.git # To not conflict with python binding of colmap
git+https://github.com/JojiJoseph/segment-anything-2.git # Supports python 3.8+ and sort images with non-numeric names
tyro
natsort
git+https://github.com/ultralytics/CLIP.git
